{{define "footer"}}
<div class="footer">
    <div class="footer__sns">
        <img src="/assets/image/sns.png">
    </div>

    <div class="footer__links">
        <ul>
            <li class="footer__link">よくある質問</li>
            <li class="footer__link">お問い合わせ</li>
        </ul>
        <ul>
            <li class="footer__link">利用規約</li>
            <li class="footer__link">運営会社</li>
            <li class="footer__link">サイトマップ</li>
        </ul>
    </div>
    <div class="footer__copyright">
        2018 kirakira Inc 
    </div>
</div>
{{end}}
