{{define "editArticle"}}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>記事編集画面</title>
        <link rel="stylesheet" href="/assets/css/bulma.min.css">
        <link rel="stylesheet" href="/assets/css/admin.css">
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    </head>
    <body>
        {{ template "adminHeader" }}
        <section class="section">
            <div class="container">
                <div class="contents">
                    <h1 class="title">
                        ID {{ .ArticleModel.Id }} : 記事編集画面
                    </h1>

                    <fieldset form="article">
                        <div class="field">
                            <div class="control">
                                <input name="id" class="input" type="hidden" placeholder="Primary input" form="article" value={{.ArticleModel.Id}}>
                            </div>
                            <div class="control">
                                <label for="title">記事タイトル</label>
                                <input name="title" class="input" type="text" placeholder="Primary input" form="article" value={{.ArticleModel.Title}}>
                            </div>
                            <div class="control">
                                <label for="description">Description</label>
                                <input name="description" class="input" type="text" placeholder="Primary input"  form="article" value={{.ArticleModel.Description}}>
                            </div>
                            <div class="control">
                                <label for="eyecatch">アイキャッチ画像ID</label>
                                <input name="eyecatch" class="input" type="number" placeholder="Primary input" form="article" value={{.ArticleModel.EyeCatchImageID}}>
                            </div>
                            <div class="control">
                                <label for="toc">目次</label>
                                <input name="toc" class="input" type="text" placeholder="Primary input"  form="article" value={{.ArticleModel.TableOfContents}}>
                            </div>
                            <div class="content">
                                <label for="content">記事メイン</label>
                                <textarea name="content" class="textarea" placeholder="10 lines of textarea" rows="20"  form="article" >{{.ArticleModel.Content}}</textarea>
                            </div>
                        </div>

                        <div class="field">
                            <label class="checkbox">
                                <input name="is_publish" type="checkbox"  form="article">
                                公開設定 
                            </label>
                        </div>
                    </fieldset>


                    <form action={{ reverse "AdminUpdate" }} method="post" id="article">
                        <div class="field">
                            <div class="control">
                                <button type="submit" class="button is-primary">更新</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </body>
</html>
{{end}}
