@charset "UTF-8";

.dummy{
    color: red;
}

.section {
    min-height: 800px;
    background-color: #dddbf0;
}

.container {
    background-color: white;
}

.contents {
    padding:20px;
}

fieldset {
    border-width: 0px;
}
